body {
    margin: 0;
  }
  
  .accordion-item-input:checked ~ .accordion-item-bd {
    max-height: 1000px;
    padding-top: 15px;
    margin-bottom: 15px;
    transition: max-height 1s ease-in, margin .3s ease-in, padding .3s ease-in;
  }
  
  .accordion-item-input:checked ~ .accordion-item-hd > .accordion-item-hd-cta {
    transform: rotate(0);
  }
  
  .accordion-item-hd-cta {
    display: block;
    width: 30px;
    position: absolute;
    top: calc(50% - 6px );
    /*minus half font-size*/
    right: 0;
    pointer-events: none;
    transition: transform .3s ease;
    transform: rotate(-180deg);
    text-align: center;
    font-size: 12px;
    line-height: 1;
  }
  
  .accordion-item-bd {
    max-height: 0;
    margin-bottom: 0;
    overflow: hidden;
    transition: max-height .15s ease-out, margin-bottom .3s ease-out, padding .3s ease-out;
  }
  
  .accordion-item-input {
    clip: rect(0 0 0 0);
    width: 1px;
    height: 1px;
    margin: -1;
    overflow: hidden;
    position: absolute;
    left: -9999px;
  }
  
  /* */
  
  .preguntas-frecuentes {
    background: #ffff;
      position: relative;
      width: 100%;
      z-index: 89;
      }
  
  .preguntas-frecuentes-contenedor {
    margin: 0 auto;
      padding: 4rem 1.25rem 6rem;
      position: relative;
      overflow: hidden;
      width: 80%;
      max-width: 106.25rem;
  }
  
  .preguntas-frecuentes-encabezado-linea-roja {
    border-bottom: 2px #459bd6 solid;
      margin: 15px auto 21px;
      width: 40px;
  }
  
  .preguntas-frecuentes h1 {
    text-align: center;
  }
  
  .preguntas {
    padding-top: 3.21rem;
  }
  
  .preguntas label {
    background: #fff;
      border-bottom: 1px solid #eee;
      border-radius: 8px;
    cursor: pointer;
    display: block;
      font-size: 1.1875rem;
      letter-spacing: -.0225rem;
      line-height: 1.36842;
      margin-bottom: 16px;
      padding: 20px 10px;
    position: relative;
      transition: all 0.35s ease;
  }
  
  .preguntas label:hover {
    background: #190c3e;
      color: #fff;
      cursor: pointer;
  }
  
  .preguntas label::before {
    content: "\276f";
      font-size: 18px;
      float: left;
      line-height: 30px;
      margin: 0 15px 0 5px;
      transition: all 0.15s ease;
      color:#459bd6;
      ;
  }
  
  .preguntas label:hover::before {
    color: #459bd6;
    opacity: 0.55;
    transform: rotate(90deg);
  }
  
  .preguntas-cerrar {
    cursor: pointer;
  }
  
  .preguntas label.cerrar::after {
    content: "\2715";
      float: right;
      font-size: 11px;
      font-weight: 300;
      line-height: 30px;
  }
  
  .preguntas label.cerrar::before {
    transform: rotate(-90deg);
  }
  
  .respuesta {
    background: #fff;
    line-height: 1.8em;
    margin-bottom: 25px;
    margin-top: -17px;
    border-top: 1px dashed #eee;
    border-radius: 11px
  }
  
  .respuesta p {
    margin: 0;
    padding: 25px 25px;
  }
  
  .respuesta-enlace-dotted {
    border-bottom: 1px dotted #000;
  }
  
  .texto-h3 {
    font-size: 0.5rem;
  }
  
  @media (min-width: 400px) {
    .texto-h3 {
      font-size: 1.59rem;
    }
  }
      
  @media (min-width: 768px) {
    .preguntas {
      padding-top: 5.21rem;
    }
    .preguntas label {
      font-size: 1.3125rem;
      letter-spacing: -.01875rem;
      line-height: 1.33333;
      padding: 20px;
    }
    .respuesta p {
      font-size: 1.21rem;
      letter-spacing: 0.021rem;
      line-height: 2.1;
      padding: 25px 50px;
    }
    .texto-h3 {
      font-size: 1.7rem;
    }
  }
  
  @media (min-width: 1000px) {
    .texto-h3 {
      font-size: 2.35rem;
    }
  }